<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="error-messages"></div>
    <div id="info-messages"></div>
    
        @RenderBody()

        <script type="text/template" id="error-message-template">
            <div>
                <%=Data.Message%>
            </div>
        </script>
        <script type="text/template" id="info-message-template">
            <div>
                <%=Data.Message%>
            </div>
        </script>
            

    @Scripts.Render("~/bundles/jquery")
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script>
    // Compatibility override - Backbone 1.1 got rid of the 'options' binding
    // automatically to views in the constructor - we need to keep that.
    Backbone.View = (function (View) {
        return View.extend({
            constructor: function (options) {
                this.options = options || {};
                View.apply(this, arguments);
            }
        });
    })(Backbone.View);
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Html.RenderScripts()
    @Html.RenderCss()
</body>
</html>
