<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>*@
</head>
<body class="@(string.IsNullOrEmpty(ViewBag.body_class)?"":ViewBag.body_class)">
    <div id="error-messages"></div>
    <div id="info-messages"></div>
    @if (string.IsNullOrEmpty(ViewBag.body_class) || ViewBag.body_class != "no-menu")
    {
        <div class="container">
            <nav class="navbar navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img class="img-responsive" src="~/Content/Images/logomenu.png" /></a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/task/index">tablica</a></li>
                            <li><a href="#">członkowie</a></li>
                            <li><a href="#">zarządzanie</a></li>
                            <li><a href="/project/index">zmień projekt</a></li>
                            <li><a href="#">ustawienia</a></li>
                            <li><a href="/user/logout">wyloguj</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    }
    @RenderBody()

    <script type="text/template" id="error-message-template">
        <div>
            <%=Data.Message%>
        </div>
    </script>
    <script type="text/template" id="info-message-template">
        <div>
            <%=Data.Message%>
        </div>
    </script>



    <script>
        // Compatibility override - Backbone 1.1 got rid of the 'options' binding
        // automatically to views in the constructor - we need to keep that.
        Backbone.View = (function (View) {
            return View.extend({
                constructor: function (options) {
                    this.options = options || {};
                    View.apply(this, arguments);
                }
            });
        })(Backbone.View);
    </script>

    @RenderSection("scripts", required: false)
    @Html.RenderScripts()
    @Html.RenderCss()
</body>
</html>
